<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <button type="submit"><a href="/signup"></a>signup</button>
    <button type="submit"><a href="/login"></a>login</button>
    <div class="macbook-air-1-parent">
      <div class="macbook-air-1">
        <div class="mindbot-your-own-container">
          <p class="mindbot">MindBot</p>
          <p class="your-own-healthcare">
            <span class="your-own-healthcare1">
              <span>Your own Healthcare</span>
            </span>
          </p>
          <p class="companion">
            <span class="your-own-healthcare1">
              <span>Companion</span>
            </span>
          </p>
          <p class="companion">
            <span class="your-own-healthcare1">
              <span>&nbsp;</span>
            </span>
          </p>
          <p class="an-ai-powered-mental-health-we">
            <span class="your-own-healthcare1">
              <span>An AI-powered mental health website combines </span>
            </span>
          </p>
          <p class="companion">
            <span class="your-own-healthcare1">
              <span>artificial intelligence and natural language</span>
            </span>
          </p>
          <p class="companion">
            <span class="your-own-healthcare1">
              <span>processing techniques to provide support,</span>
            </span>
          </p>
          <p class="companion">
            <span class="your-own-healthcare1">
              <span>resources, and guidance for individuals</span>
            </span>
          </p>
          <p class="companion">
            <span class="your-own-healthcare1">
              <span>struggling with mental health</span>
            </span>
          </p>
        </div>
        <img class="image-7-icon" alt="" src="./public/image-7@2x.png" />

        <div class="macbook-air-1-child"></div>
      </div>
      <div class="human-like-conversations-with-wrapper">
        <div class="human-like-conversations-with-container">
          <p class="mindbot">Human-like conversations with a Chatbot</p>
          <p class="mindbot">&nbsp;</p>
          <p class="offers-information-emotional">
            Offers information, emotional support, coping strategies, and
            referrals to appropriate mental health resources
          </p>
        </div>
      </div>
      <img class="image-8-icon" alt="" src="./public/image-8@2x.png" />

      <div class="features-some-of-container">
        <p class="companion">
          <span>
            <span class="features1">Features</span>
          </span>
        </p>
        <p class="companion">
          <span>
            <span>&nbsp;</span>
          </span>
        </p>
        <p class="an-ai-powered-mental-health-we">
          <span>
            <span>Some of the feature that we provide here</span>
          </span>
        </p>
      </div>
      <div class="cognitive-behavioral-therapy-parent">
        <div class="cognitive-behavioral-therapy">
          Cognitive Behavioral Therapy
        </div>
        <img
          class="brain-medical-health-brain-icon"
          alt=""
          src="./public/brainmedicalhealthbrain.svg"
        />
      </div>
      <div class="certified-resources-parent">
        <div class="certified-resources">Certified Resources</div>
        <img
          class="online-medical-service-monitor-icon"
          alt=""
          src="./public/onlinemedicalservicemonitor.svg"
        />
      </div>
      <div class="access-parent">
        <div class="access">24/7 Access</div>
        <img
          class="call-center-support-service-icon"
          alt=""
          src="./public/callcentersupportservice.svg"
        />
      </div>
      <div class="personalized-feedback-parent">
        <div class="personalized-feedback">Personalized feedback</div>
        <img
          class="copy-paste-clipboard-copy-cut-icon"
          alt=""
          src="./public/copypasteclipboardcopycutpaste.svg"
        />
      </div>
    </div>
  </body>
</html>
