<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fab5c9bb55.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="signup.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1><a href="main.html">MeldTv</a></h1>
            <h4>Create account</h4>
        <form action="">
            <div class="form">
                <input type="text" name="username" id="username" placeholder="Enter Username">
            </div>
            <div class="form">
                <input type="email" name="email" id="email" placeholder="Enter your Email">            
            </div>
            <div class="form">
                <input type="password" name="password" id="password" placeholder="Enter Password">
            </div>
            <div class="form">
                <input type="password" name="password" id="password" placeholder="Confirm password">
            </div>

            <button class="btn">Sign Up</button>

            <div id="haveacc">
                <a href="login.html" id="login">Already have an account?</a>
            </div>
        </form>
    </div>    
    
</body>
</html>