<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fab5c9bb55.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="signup.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h1><a href="/index">MindBot</a></h1>
        <h4>Create account</h4>

        <form action="/signup" method="post">
        {% csrf_token %}
            <div class="form">
                <input type="text" name="username" id="username" placeholder="Enter Username" required>
            </div>
            <div class="form">
                <input type="email" name="email" id="email" placeholder="Enter your Email" required>
            </div>
            <div class="form">
                <input type="password" name="pass1" id="pass1" placeholder="Enter Password" required>
            </div>
            <div class="form">
                <input type="password" name="pass2" id="pass2" placeholder="Confirm password" required>
            </div>

            <button type = 'submit' class="btn">Sign Up</button>

            <div id="haveacc">
                <a href="/login" id="login">Already have an account?</a>
            </div>
        </form>
    </div>

</body>

</html>