nav{
    margin: 10px;
}


.welcome-message{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.main-area{
    background-color: antiquewhite;
    margin: 20px;
    height: 100vh;
}

.btns{
    display: flex;
    justify-content: center;
    margin-inline: 100px;
    margin: 40px;
    /* width: 50% */
}

.options{
    background-color: #e7d7d7;
    border: 2px solid #e7d7d7;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 50%;
}